/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}
.nav-sidebar > .active > a:hover {
    color: #fff;
    background-color: #194367;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Status indicator
 */
.disconnected {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  content: " ";
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin: 1em;
  background-image: -moz-linear-gradient(#f2f2f2, #cccccc);
  background-image: -o-linear-gradient(#f2f2f2, #cccccc);
  background-image: -webkit-linear-gradient(#f2f2f2, #cccccc);
  background-image: linear-gradient(#f2f2f2, #cccccc);
  -moz-box-shadow: #bfbfbf 0 0 0.5em 0.25em inset, rgba(255, 255, 255, 0.5) 0 0.125em 0, rgba(77, 77, 77, 0.1) 0 0.09375em 0;
  -webkit-box-shadow: #bfbfbf 0 0 0.5em 0.25em inset, rgba(255, 255, 255, 0.5) 0 0.125em 0, rgba(77, 77, 77, 0.1) 0 0.09375em 0;
  box-shadow: #bfbfbf 0 0 0.5em 0.25em inset, rgba(255, 255, 255, 0.5) 0 0.125em 0, rgba(77, 77, 77, 0.1) 0 0.09375em 0;
}

.error {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  content: " ";
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin: 1em;
  background-image: -moz-linear-gradient(#d28a88, #bd5351);
  background-image: -o-linear-gradient(#d28a88, #bd5351);
  background-image: -webkit-linear-gradient(#d28a88, #bd5351);
  background-image: linear-gradient(#d28a88, #bd5351);
  -moz-box-shadow: #b14543 0 0 0.5em 0.25em inset, rgba(224, 174, 173, 0.5) 0 0.125em 0, rgba(11, 4, 4, 0.1) 0 0.09375em 0;
  -webkit-box-shadow: #b14543 0 0 0.5em 0.25em inset, rgba(224, 174, 173, 0.5) 0 0.125em 0, rgba(11, 4, 4, 0.1) 0 0.09375em 0;
  box-shadow: #b14543 0 0 0.5em 0.25em inset, rgba(224, 174, 173, 0.5) 0 0.125em 0, rgba(11, 4, 4, 0.1) 0 0.09375em 0;
}

.connected {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  content: " ";
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin: 1em;
  background-image: -moz-linear-gradient(#89c28a, #57a858);
  background-image: -o-linear-gradient(#89c28a, #57a858);
  background-image: -webkit-linear-gradient(#89c28a, #57a858);
  background-image: linear-gradient(#89c28a, #57a858);
  -moz-box-shadow: #4e974f 0 0 0.5em 0.25em inset, rgba(171, 211, 172, 0.5) 0 0.125em 0, rgba(0, 0, 0, 0.1) 0 0.09375em 0;
  -webkit-box-shadow: #4e974f 0 0 0.5em 0.25em inset, rgba(171, 211, 172, 0.5) 0 0.125em 0, rgba(0, 0, 0, 0.1) 0 0.09375em 0;
  box-shadow: #4e974f 0 0 0.5em 0.25em inset, rgba(171, 211, 172, 0.5) 0 0.125em 0, rgba(0, 0, 0, 0.1) 0 0.09375em 0;
}

.field-name-col{
    width:100px;
}
.generator-cb-col{
    width:200px;
}
