<div >
    From: {{view App.DatePickerField valueBinding="controller.model.generatorOptions.startDate"}} To: {{view App.DatePickerField valueBinding="controller.model.generatorOptions.endDate"}}
</div>