<td>{{input type="checkbox" name="isSelected" checked=isSelected}}</td>
<td class="field-name-col">{{model.name}}</td>
<td>
  {{view Ember.Select viewName="select" class="form-control generator-cb-col"
  contentBinding="generators"
  optionLabelPath="content.name"
  optionValuePath="content.name"
  prompt="Pick a generator"
  selectionBinding="selectedGenerator"}}
</td>
<td>
  {{view Ember.ContainerView viewName="generatorView"}}
</td>