<div class="panel panel-default">
  <div class="panel-heading">Field: {{model.name}}</div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row-fluid">
        Generator:
        {{view Ember.Select viewName="select" class="form-control"
        contentBinding="generators"
        optionLabelPath="content.name"
        optionValuePath="content.name"
        prompt="Pick a generator"
        selectionBinding="selectedGenerator"}}

      </div>
      <div class="row">
        {{view Ember.ContainerView viewName="generatorView"}}
      </div>
    </div>
  </div>